#top {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#topheader {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: #00B4CC;;
  color: #fff;
}



